# .vscode/ltex.dictionary.uk-UA.txt
# .vscode/ltex.disabledRules.uk-UA.txt
# .vscode/template.json
# .vscode/template/lang/uk_ua.json
assets/ae2/ae2guide/assets/diagrams
assets/ae2/ae2guide/assets/logo.png